.section {
  height: 100vh;
}
p {
  /* text-indent: 36px; */
  text-indent: 10px;
}
/* ------------------------------------------
                   Page Top
-------------------------------------------- */
#section0 {
  background-image: url("image2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%; 
}
/* ------------------------------------------
                    Page 4
-------------------------------------------- */
#section4 {
  /* height: 60vh; */
  margin: auto;
}
/* ------------------------------------------
                    Page 5
-------------------------------------------- */
/* #section5{
    height: 40vh;
    margin: auto; 
}
#section5 .shape{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
}
#section5 .shape:hover{
    transform: scale(1.2, 1.2);
    transition: .5s;
} */
