<div class="container">
  <!-- Page 0 -->
  <div
    class="row section pt-5"
    id="section0"
  >
  </div>
  <!-- Page 1 -->
  <div
    class="section pt-5"
    id="section1"
  >
    <b-row class="p-3">
      <h1>Info</h1>
    </b-row>
    <b-row class="text-left">
      <b-col>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque minima consectetur dolorum
        laborum. Eum omnis odit earum excepturi cumque sit, a accusantium in impedit illum ipsum dolorum tenetur animi.
      </b-col>
      <b-col>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque minima consectetur dolorum
        laborum. Eum omnis odit earum excepturi cumque sit, a accusantium in impedit illum ipsum dolorum tenetur animi.
      </b-col>
    </b-row>
  </div>
  <!-- Page 2 -->
  <div
    class="section pt-5"
    id="section2"
  >
    <b-row class="p-3">
      <h1>About</h1>
    </b-row>
    <b-row class="text-left">
      <b-col>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque minima consectetur dolorum
        laborum. Eum omnis odit earum excepturi cumque sit, a accusantium in impedit illum ipsum dolorum tenetur animi.
      </b-col>
      <b-col>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque minima consectetur dolorum
        laborum. Eum omnis odit earum excepturi cumque sit, a accusantium in impedit illum ipsum dolorum tenetur animi.
      </b-col>
    </b-row>
  </div>
  <!-- Page 3 -->
  <div
    class="section pt-5"
    id="section3"
  >
    <b-row class="p-3">
      <h1>Contact Us</h1>
    </b-row>
    <b-row class="text-left">
      <b-col>
        <p>Let us know if you have any problems.</p>
        <p>Phone : </p>
        <p>E-mail :</p>
      </b-col>
      <b-col class="text-center">
        <h5>OUR TEAM</h5>
        <b-img
          thumbnail
          src="https://picsum.photos/250/250/?image=54"
        ></b-img>
      </b-col>
    </b-row>
  </div>
  <!-- Page 4 -->
  <div
    class="section pt-5"
    id="section4"
  >
    <b-row class="p-3">
      <h1>Support</h1>
    </b-row>
    <b-row class="text-left">
      <b-col>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque minima consectetur dolorum
        laborum. Eum omnis odit earum excepturi cumque sit, a accusantium in impedit illum ipsum dolorum tenetur animi.
      </b-col>
      <b-col>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque minima consectetur dolorum
        laborum. Eum omnis odit earum excepturi cumque sit, a accusantium in impedit illum ipsum dolorum tenetur animi.
      </b-col>
    </b-row>
  </div>
  <!-- Page 5 -->
  <!-- <div class="row section p-md-5 text-center" id="section5">
    <div class="col-6 col-md-4">
      <div class="bg-info shape">
        <i class="fab fa-facebook-f fa-3x m-4 text-light"></i>
      </div>
    <div class="mt-1 mt-md-3"><h4>FACEBOOK</h4></div>
  </div>
  <div class="col-6 col-md-4">
    <div class="bg-info shape">
      <i class="fab fa-instagram fa-3x m-4 text-light"></i>
    </div>
    <div class="mt-1 mt-md-3"><h4>INSTAGRAM</h4></div>
  </div>
  <div class="col-12 col-md-4">
    <div class="bg-info shape">
      <i class="fab fa-twitter fa-3x m-4 text-light"></i>
    </div>
    <div class="mt-1 mt-md-3"><h4>TWITTER</h4></div>
  </div> -->
</div>
</div>