<b-navbar
  toggleable="lg"
  type="light"
  variant="light"
  fixed="top"
>
  <b-navbar-brand to="/">
    <img
      src="https://placekitten.com/g/30/30"
      class="d-inline-block align-top"
      alt="Kitten"
    />
    KeyInMind
  </b-navbar-brand>

  <b-button
    v-b-toggle
    href="#navbar"
    @click="active=!active, notExpand = true"
    color="success"
    type="filled"
    id="bsbtn"
  >
    <b-icon icon="justify"></b-icon>
  </b-button>
  <b-sidebar
    id="navbar"
    right
    shadow
  >
    <template v-slot:default="{ hide }">
      <div class="p-3">
        <!-- <h4 id="sidebar-no-header-title">Custom header sidebar</h4> -->
        <nav class="mb-3">
          <b-nav vertical>
            <b-button
              variant="light"
              block
              to="/convert"
            >Convert</b-button>
            <b-button
              variant="light"
              block
              to="/mindmap"
            >MindMap</b-button>
            <!-- <b-button
              variant="light"
              block
              to="/notes"
            >Notes</b-button> -->
            <b-button
              variant="light"
              block
              to="/settings"
            >Settings</b-button>
            <b-button
              variant="light"
              block
              @click="logout"
            >Logout</b-button>
            <!-- to="/" -->
          </b-nav>
        </nav>
        <b-button
          variant="info"
          block
          @click="hide"
        >Close Sidebar</b-button>
      </div>
    </template>
  </b-sidebar>
</b-navbar>

<!-- https://lusaxweb.github.io/vuesax/components/sideBar.html#open-on-the-right -->
<!-- https://bootstrap-vue.org/docs/components/sidebar#link-2 -->